{
  "Statement": [
    {
      "Sid": "S3UploadPolicy",
      "Effect": "Allow",
      "Action": [
        "s3:AbortMultipartUpload",
        "s3:GetBucketLocation",
        "s3:GetObject",
        "s3:ListBucket",
        "s3:ListBucketMultipartUploads",
        "s3:PutObject"
      ],
      "Resource": [
        "arn:${ARN}:s3:::${BUCKET_NAME}/*",
        "arn:${ARN}:s3:::${BUCKET_NAME}"
      ]
    }
  ],
  "Version": "2012-10-17"
}