{
  "fields": {
    "issuetype": {
      "name": "${jira_cloud_issuetype}"
    },
    "project": {
      "key": "${jira_cloud_projectkey}"
    },
    "summary": "{{SearchName}}",
    "priority": {
      "id": "${jira_cloud_priority}"
    },
    "description": "{{SearchQueryUrl}}"
  }
}