{
  "fields": {
    "issuetype": {
      "name": "${jira_servicedesk_issuetype}"
    },
    "project": {
      "key": "${jira_servicedesk_projectkey}"
    },
    "summary": "{{SearchName}}",
    "priority": {
      "id": "${jira_servicedesk_priority}"
    },
    "description": "{{SearchQueryUrl}}"
  }
}